* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Jaro', sans-serif;
}

/* Navbar */
nav {
    display: flex;
    background-color: blueviolet;
    justify-content: space-around;
    padding: 20px 0;
    color: rgb(243, 207, 243);
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color:  rgb(243, 207, 243);
    text-decoration: none;
}

















































































